<!DOCTYPE html>
<html>
<head>
<title>第03话 欧罗巴的香气—在线播放—《有顶天家族 第二季》—动漫—优酷网，视频高清在线观看</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/play_50.css}"/>
</head>
<body class="page_v  yk-w970  w1080 danmuoff" data-spm="8191423">
	<div class="s_main layout_121 clearfix" id="sMain">
		<div class="base">
			<div class="base_info">
				<a class="video-pv"
					href="//index.youku.com/vr_keyword/id_//v.youku.com/v_show/id_XMjcyMDI1OTY2OA==.html"
					target="_blank"><i class="ico-fn-VR ico-fn-VR-hashover"></i><span
					class="stat" id="videoTotalPV" data-stat-role="ck"><em
						class="num">84,146</em></span></a>
				<h1 class="title">
					<span class="yk-dubo-label"></span><a href="//comic.youku.com/"
						target="_blank">[动漫]</a><span>有顶天家族 第二季</span>：<span id="subtitle"
						title="第03话 欧罗巴的香气">第03话 欧罗巴的香气</span>
				</h1>
				<a class="desc-link"
					href="//list.youku.com/show/id_zefbfbdefbfbdefbfbd08.html"
					target="_blank">节目简介</a>
			</div>
			<div class="clear"></div>
		</div>
		<div id="module_basic_playarea">
			<div class="play_area" id="playBox">
				<div id="module_basic_playbox" data-action-js="1">
					<div class="playBox" id="playerBox">
						<div class="playArea">
							<div id="module_basic_player">
								<div class="player" id="player">
									<object type="application/x-shockwave-flash"
										data="//static.youku.com/v20170427.0/v/swf/upsplayer/player_yknpsv.swf"
										width="100%" height="100%" id="movie_player"
										style="width: 100%; height: 100%;">
										<param name="allowFullScreen" value="true">
										<param name="allowscriptaccess" value="always">
										<param name="allowFullScreenInteractive" value="true">
										<param name="wmode" value="direct">
										<param name="bgcolor" value="#000000">
										<param name="flashvars"
											value="skincolor1=ffffff&amp;skincolor2=ffffff&amp;VideoIDS=XMjcyMDI1OTY2OA==&amp;ShowId=316112&amp;category=100&amp;Cp=authorized&amp;sv=true&amp;unCookie=0&amp;frame=undefined&amp;uepflag=0&amp;Tid=0&amp;isAutoPlay=true&amp;playmode=3&amp;show_ce=1&amp;winType=interior&amp;Fid=0&amp;Pt=0&amp;Ob=0&amp;plchid=&amp;embedid=AjY4MDA2NDkxNwJ3d3cueW91a3UuY29tAi8=&amp;ysuid=1488183041313k0U&amp;vext=bc%3D%26pid%3Dundefined%26unCookie%3Dundefined%26frame%3Dundefined%26type%3D1%26fob%3D0%26fpo%3D0%26svt%3D1%26stg%3Dundefined%26cna%3DfGM6EWilkDsCATFcbgTujYja%26emb%3DAjY4MDA2NDkxNwJ3d3cueW91a3UuY29tAi8%3D%26dn%3D%E7%BD%91%E9%A1%B5%26hwc%3D1%26mtype%3Doth&amp;cna=fGM6EWilkDsCATFcbgTujYja&amp;pageStartTime=1493270399937">
										<param name="movie"
											value="//static.youku.com/v20170427.0/v/swf/upsplayer/player_yknpsv.swf">
										<div class="player_html5">
											<div class="picture" style="height: 100%">
												<div style="line-height: 460px;">
													<span style="font-size: 18px">您还没有安装flash播放器,请点击<a
														href="//www.adobe.com/go/getflash" target="_blank">这里</a>安装
													</span>
												</div>
											</div>
										</div>
									</object>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="listBox" id="player_sidebar">

					<div class="sideCol" style="width:380px;">
						<div id="module_basic_relationright">
							<div id="module_basic_relation">
								<!-- 相关推荐列表 -->
								<div class="play_wrapper">
									<div class="play_header">
										<h2 class="moduletitle">相关推荐</h2>
									</div>
									<div class="play_content">
										<div class="rows" style="display: block;">
											<div class="row">
												<div class="left-part">
													<!-- 图片地址和跳转地址 -->
													<div class="p-thumb">
														<a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															_ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl"
															target="_blank" title="有顶天家族 第二季 特别节目"></a> <i class="bg"></i>
														<img class=""
															src="https://r1.ykimg.com/0542040858EF343B6C1E2E034211D850">
													</div>
													<!-- 播放时长 -->
													<ul class="p-info">
														<li class="status hover-hide"><span class="p-time">
																<i class="ibg"></i> <span>23:40</span>
														</span></li>
													</ul>
												</div>
												<div class="right-part ">
													<ul class="info">
														<!-- 标题 -->
														<li class="title"><a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															target="_blank" title="有顶天家族 第二季 特别节目" _ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl">有顶天家族
																第二季 特别节目</a></li>
														<!-- 演员 -->
														<li class="subtitle"></li>
														<!-- 播放量评论量 -->
														<li class="subtitle vvrate"><span>8,127次播放</span> <span>4次评论</span></li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="left-part">
													<!-- 图片地址和跳转地址 -->
													<div class="p-thumb">
														<a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															_ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl"
															target="_blank" title="有顶天家族 第二季 特别节目"></a> <i class="bg"></i>
														<img class=""
															src="https://r1.ykimg.com/0542040858EF343B6C1E2E034211D850">
													</div>
													<!-- 播放时长 -->
													<ul class="p-info">
														<li class="status hover-hide"><span class="p-time">
																<i class="ibg"></i> <span>23:40</span>
														</span></li>
													</ul>
												</div>
												<div class="right-part ">
													<ul class="info">
														<!-- 标题 -->
														<li class="title"><a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															target="_blank" title="有顶天家族 第二季 特别节目" _ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl">有顶天家族
																第二季 特别节目</a></li>
														<!-- 演员 -->
														<li class="subtitle"></li>
														<!-- 播放量评论量 -->
														<li class="subtitle vvrate"><span>8,127次播放</span> <span>4次评论</span></li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="left-part">
													<!-- 图片地址和跳转地址 -->
													<div class="p-thumb">
														<a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															_ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl"
															target="_blank" title="有顶天家族 第二季 特别节目"></a> <i class="bg"></i>
														<img class=""
															src="https://r1.ykimg.com/0542040858EF343B6C1E2E034211D850">
													</div>
													<!-- 播放时长 -->
													<ul class="p-info">
														<li class="status hover-hide"><span class="p-time">
																<i class="ibg"></i> <span>23:40</span>
														</span></li>
													</ul>
												</div>
												<div class="right-part ">
													<ul class="info">
														<!-- 标题 -->
														<li class="title"><a
															href="http://v.youku.com/v_show/id_XMjY3NzI4OTgzNg==.html"
															target="_blank" title="有顶天家族 第二季 特别节目" _ck=""
															_reck="http://gm.mmstat.com/yt/ytrec.yk.rec?abver=A&amp;apt=1&amp;pg=3&amp;md=9&amp;ord=1&amp;vid=680064917&amp;sid=316112&amp;rtlid=N5qWHxaJS_MsRF&amp;req_id=N5qWHxaJS_MsRF&amp;guid=1488183041313k0U&amp;uid=408317718&amp;rand=rand_661&amp;dct=100&amp;dma=1109&amp;dvid=669322459&amp;version=5&amp;utdid&amp;idfa&amp;t=1493270398070&amp;pos=0&amp;algInfo=1srch-2-1dtype-2h-1api-2F0388-1svage-287-1lf-2recclurl">有顶天家族
																第二季 特别节目</a></li>
														<!-- 演员 -->
														<li class="subtitle"></li>
														<!-- 播放量评论量 -->
														<li class="subtitle vvrate"><span>8,127次播放</span> <span>4次评论</span></li>
													</ul>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="g-footer">
		<dl class="g-w1">
			<dt>
				<a target="_blank" href="//c.youku.com/aboutcn/youtu">大优酷事业群</a><a
					target="_blank" href="//c.youku.com/aboutcn/youku">关于优酷</a><a
					target="_blank" href="http://www.tudou.com/about/cn/">关于土豆</a>
			</dt>
			<dd>
				<a target="_blank" href="//c.youku.com/abouteg/youtu">Youku
					Tudou Inc.</a><a target="_blank" href="//c.youku.com/abouteg/youku">Youku.com</a><a
					target="_blank" href="http://www.tudou.com/about/en/">Tudou.com</a>
			</dd>
			<dd>
				<a target="_blank" href="//c.youku.com/link">友情链接</a><a
					target="_blank" href="//c.youku.com/aboutcn/adservice/">广告服务</a>
			</dd>
		</dl>
		<dl class="g-w2">
			<dt>优酷热门</dt>
			<dd>
				<a target="_blank" href="//tv.youku.com/">剧集</a><a target="_blank"
					href="//movie.youku.com/">电影</a><a target="_blank"
					href="//zy.youku.com/">综艺</a><a target="_blank"
					href="//music.youku.com/">音乐</a><a target="_blank"
					href="//child.youku.com/">少儿</a><a target="_blank"
					href="//news.youku.com/">资讯</a><a target="_blank"
					href="//paike.youku.com/">拍客</a><a target="_blank"
					href="//jilupian.youku.com/">纪实</a><a target="_blank"
					href="//gongyi.youku.com/">公益</a>
			</dd>
			<dd>
				<a target="_blank" href="//sports.youku.com/">体育</a><a
					target="_blank" href="//auto.youku.com/">汽车</a><a target="_blank"
					href="//tech.youku.com/">科技</a><a target="_blank"
					href="//finance.youku.com/">财经</a><a target="_blank"
					href="//ent.youku.com/">娱乐</a><a target="_blank"
					href="http://culture.youku.com/">文化</a><a target="_blank"
					href="//comic.youku.com/">动漫</a><a target="_blank"
					href="//fun.youku.com/">搞笑</a><a target="_blank"
					href="//travel.youku.com/">旅游</a>
			</dd>
			<dd>
				<a target="_blank" href="//fashion.youku.com/">时尚</a><a
					target="_blank" href="//baby.youku.com/">亲子</a><a target="_blank"
					href="//edu.youku.com/">教育</a><a target="_blank"
					href="//game.youku.com/">游戏</a><a target="_blank"
					href="http://vip.youku.com/">会员</a><a target="_blank"
					href="//faxian.youku.com/?from=PC_main_nav">发现</a><a
					target="_blank" href="http://list.youku.com/category/video">片库</a>
			</dd>
		</dl>
		<dl class="g-w3">
			<dt>产品中心</dt>
			<dd>
				<a href="javascript:void(0);" class="ikuDownLoad"
					data-down-href="http://iku.youku.com/channelinstall/ywebbottom"
					data-down-mac="http://iku.youku.com/channelinstall/macyweb">PC客户端</a>
			</dd>
			<dd>
				<a target="_blank" href="//mobile.youku.com/index/wireless">手机客户端</a><a
					target="_blank" href="//pd.youku.com/paike">拍客</a>
			</dd>
			<dd>
				<a target="_blank"
					href="http://yj.youku.com/?hmsr=1119youku&amp;hmpl=&amp;hmcu=&amp;hmkw=&amp;hmci=">智能硬件</a><a
					target="_blank" href="http://cloud.youku.com/">视频云</a>
			</dd>
		</dl>
		<dl class="g-w4">
			<dt>用户</dt>
			<dd>
				<a target="_blank" href="http://rz.tudou.com/">开通大鱼号</a>
			</dd>
			<dt>支持</dt>
			<dd>
				<a id="sttrans" href="javascript:void(0);">繁體版</a><a target="_blank"
					href="//csc.youku.com/feedback-web/web/">在线反馈</a>
			</dd>
		</dl>
		<div class="g-hr"></div>
		<dl class="g-w1">
			<dd>
				<a target="_blank" href="//mapp.youku.com/service/licence/">网络文化经营许可证
					京网文[2014]0934-236号</a>
			</dd>
			<dd>
				<a target="_blank" href="//mapp.youku.com/service/20130209">京卫网审[2013]第0209号
				</a> <a target="_blank" href="http://www.bj.cyberpolice.cn/index.htm">网络110报警服务</a>
			</dd>
			<dd>药品服务许可证(京)-经营-2015-0029</dd>
			<dd>节目制作经营许可证京字670号</dd>
		</dl>
		<dl class="g-w2">
			<dd>
				请使用者仔细阅读优酷<a target="_blank"
					href="//mapp.youku.com/service/agreement" class="mr0">使用协议</a>、<a
					target="_blank" href="//mapp.youku.com/service/banquan" class="mr0">版权声明</a>、<a
					target="_blank" href="//mapp.youku.com/service/piracy" class="mr0">反盗版盗链声明</a>
			</dd>
			<dd>Copyright©2017 优酷 youku.com 版权所有</dd>
			<dd>不良信息举报电话: 4008100580</dd>
			<dd>
				<a target="_blank" href="//mapp.youku.com/service/0108283">信息网络传播视听节目许可证0108283号</a>
			</dd>
		</dl>
		<dl class="g-w3">
			<dd>
				<a target="_blank" href="http://www.miibeian.gov.cn/">京ICP证060288号</a>
			</dd>
			<dd>
				<a target="_blank" href="//mapp.youku.com/service/chuban">新出网证(京)字160号</a>
			</dd>
			<dd>
				<a target="_blank" href="http://www.bjjubao.org/">北京互联网举报中心</a>
			</dd>
			<dd>
				<a target="_blank" href="http://www.bjwhzf.gov.cn/accuse.do">北京12318文化市场举报热线</a>
			</dd>
		</dl>
		<dl class="g-w4">
			<a class="qcode" target="_blank"
				href="//mobile.youku.com/index/wireless"><img
				src="//r1.ykimg.com/0510000058D0FEA1ADC0AE058F099020" width="84px"></a>
		</dl>
		<div class="g-authentication">
			<a class="aut-1" target="_blank"
				href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202006082400023">经营性网站<br>备案信息
			</a><a class="aut-2" target="_blank"
				href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1786197705">中国互联网<br>诚信联盟
			</a><a class="aut-3" target="_blank" href="http://www.12377.cn/">中国互联网<br>举报中心
			</a><a class="aut-4" target="_blank"
				href="http://www.12377.cn/node_548446.htm">网络举报<br>APP下载
			</a><a class="aut-5" target="_blank"
				href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000017">京公网安备<br>11000002000017
			</a><a class="aut-6" target="_blank"
				href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/0D76560AE65141FF9FEFE3481D205C50">网络文化<br>经营单位
			</a><a class="aut-7" target="_blank" href="http://www.12377.cn/">暴恐音视频<br>举报专区
			</a>
		</div>
	</div>
</body>
</html>